.Banner {
  margin-top: 18rem;
}

.Banner__header,
.Banner__paragraph {
  text-align: center;
  margin: 0 auto;
}

.Banner__header {
  max-width: 76.8rem;
  margin-bottom: 4.8rem;

  color: #3a3d43;

  animation: fade-in 1.2s 0.3s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.Banner__paragraph {
  max-width: 58rem;

  color: #3a3d43;

  animation: fade-in 1.2s 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.Banner__presentation {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.Banner__image {
  animation: slide-in-fwd-left 0.4s 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
}

.Banner__actions {
  padding-left: 4.8rem;
  display: flex;
}

@media only screen and (max-width: 1000px) {
  .Banner__presentation {
    display: flex;
    flex-direction: column;
  }
  .Banner__actions {
    padding: 0;
  }
}

.Banner__button--left {
  animation: slide-in-right 0.5s 1.9s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;

  margin-right: 4.2rem;
}

.Banner__button--right {
  animation: slide-in-right 0.5s 2.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@media only screen and (max-width: 540px) {
  .Banner__actions {
    display: flex;
    flex-direction: column;
  }

  .Banner__button {
    width: 100%;
    justify-content: center;
  }

  .Banner__button:not(:last-child) {
    margin-bottom: 2.4rem;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slide-in-fwd-left {
  0% {
    transform: translateZ(-1400px) translateX(-1000px);
    opacity: 0;
  }
  100% {
    transform: translateZ(0) translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-right {
  0% {
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
