.Banner {
  margin-top: 18rem;
}

.Banner__header,
.Banner__paragraph {
  text-align: center;
  margin: 0 auto;
}

.Banner__header {
  max-width: 76.8rem;
  margin-bottom: 4.8rem;

  color: #3a3d43;
}

.Banner__paragraph {
  max-width: 58rem;

  color: #3a3d43;
}

.Banner__presentation {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.Banner__actions {
  padding-left: 4.8rem;
  display: flex;
}

@media only screen and (max-width: 1000px) {
  .Banner__presentation {
    display: flex;
    flex-direction: column;
  }
  .Banner__actions {
    padding: 0;
  }
}

.Banner__button--left {
  margin-right: 4.2rem;
}

@media only screen and (max-width: 540px) {
  .Banner__actions {
    display: flex;
    flex-direction: column;
  }

  .Banner__button {
    width: 100%;
    justify-content: center;
  }

  .Banner__button:not(:last-child) {
    margin-bottom: 2.4rem;
  }
}
